<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %} 
    <link href ="{% static "css/site.css" %}"  rel="stylesheet">
    <title>Quixflow Api</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-6">
        <header class="mb-10">
            <h1 class="text-4xl text-blue-500 font-bold text-center mb-4">Quixflow API </h1>
            <p class="mb-2 text-center">This API is used to jira and notion automation. 
                
            </p>
        </header>

        
    </div>
</body>
</html>
